# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

# default character-set
charset = utf-8

# indent style
indent_size = tab
indent_style = tab
tab_width=4

# file type settings

# setting files
[*.{json,yml,yaml}]
indent_style = space
tab_width = 4
indent_size = 4

[git*]
indent_style = space
tab_width = 4
indent_size = 4

## go programming settings
[Makefile,*.mk]
indent_style = tab
tab_width = 4
indent_size = tab_width

[*.go,go.mod*,go.sum]
indent_style = tab
tab_width = 4
indent_size = tab_width

